/* font-family: 'Cabin Sketch', cursive;
font-family: 'Chelsea Market', cursive;
font-family: 'Fredericka the Great', cursive;
font-family: 'Londrina Sketch', cursive; */

body {
    font-family: Avenir,Garamond;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
    background-color: rgb(41, 40, 40);
    color: rgb(233, 232, 232);
  
}

#home {
    background-image: url(../img/mercEd.jpg);
    background-attachment: fixed;
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 1400px;
    color: #292727;

}

.stage-text {
    font-size: 7vw;
    color: whitesmoke;
    text-align: center;
    margin: 10vh;
}

#raise {
    
    position: absolute;
    top: 13%;
    left: 45%;
    display:inline-block;
    width: 30vw;
	color: white;
}

.reveal {
    
    animation: appear 2s forwards;
    animation-delay: 2s;
    opacity: 0;
}

.reveal:hover {
    animation: appear 1s;
    opacity:0;
}



@keyframes appear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}



#curtain {
    width: 100%;
    top: 0;
    height: 100vh;
    color: whitesmoke;

}

/*This is the container for the entire menu/navbar*/


.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* visibility: hidden; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*hide the nav bar, do this last so that you can see styling while working*/

.menu-container nav {
    visibility: hidden;
}

/*enlarge the area for the checkbox to about the size of a hamburger icon*/

.menu-container .menu-trigger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
}

/* SECTION CONTAINING ANIMATION INSTRUCTIONS WHEN CHECK BOX IS CHECKED OR TRIGGERED */

.menu-container .menu-trigger:checked ~ nav {
    visibility: visible;
}

.menu-container .menu-trigger:checked ~ nav > div {
    transform: scale(1);
    transition: 0.4s ease;
}

.menu-container .menu-trigger:checked ~ nav > div > div {
    opacity: 1;
    transition: 0.4s ease;
}

/* END OF CHECKBOX TRANSITIONS */

/* THIS AFFECTS THE CONTAINER OF THE CONTAINER FOR THE UL 
    the transform: scale() is what gives it the cool growing circle effect */

.menu-container nav > div {
    background-color:  rgba(255, 0, 0, 0.75);
    width: 200vw;
    height: 135vh;
    /* display: flex;
    flex: none;
    align-items: center;
    justify-content: center; */
    border-radius: 70%;
    transform: scale(0);
    transition: all 0.4s ease;
}

/* this is the layer directly above the ul this adds another layer
    of animation to the screen when the checkbox is triggered */

.menu-container nav > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* this is the styling for the items in the li */

.menu-container nav > div > div > ul > li {
    list-style: none;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
}

/* further detailed styling for the <a> links in the <li> */
.menu-container nav > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.accordion-container {
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sub-menu-trigger {
    display: block;
    position: relative;
    cursor: pointer;
}

 .sub-menu {
     background: rgb(37, 37, 37);
     overflow: hidden;
     margin: 0.5rem;
     border-radius: 0.5rem;
     transition: max-height 0.4s;
     max-height: 0;
 }

 .sub-menu a {
     display: block;
     padding: 1rem 1.5rem;
     color: white;
     font-size: 0.9rem;
     margin: 0.2rem 0;
     position: relative;
     text-decoration: none;
 }

 .sub-menu a:nth-child(odd) {
     background-color: black;
 }

 .sub-menu a::before {
     content: "";
     position: absolute;
     width: 0.3rem;
     height: 100%;
     background-color: rgb(250, 245, 245);
     top: 0;
     left: 0;
     transition: 0.4s;
     opacity: 0;
 }

 .sub-menu a:hover::before {
     opacity: 1;
     
 }

 .accordion-item:target .sub-menu {
     max-height: 12rem;
 }

 
     /* the styling to build the animated-hamburger */
.menu-container .animated-hamburger {
    position:fixed;
    top: 0;
    left: 0;
    height: 60px; /*This covers the height of the the checkbox .menu-trigger*/
    width: 60px;
    background-color: red;
    opacity: 0.75;
    padding: 1rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container .animated-hamburger > div {
    height: 2px;
    width: 100%;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

/*Top and bottom lines of the hamburer*/

.menu-container .animated-hamburger > div:before,
.menu-container .animated-hamburger > div:after {
    content:'';
    position: absolute;
    z-index: 2; 
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/*Moves top line down */

.menu-container .animated-hamburger > div:after {
    top: 10px;
}

.menu-container .menu-trigger:checked ~ .animated-hamburger > div {
    transform: rotate(135deg);
}

/* Turn into an X */

.menu-container .menu-trigger:checked ~ .animated-hamburger > div:before,
.menu-container .menu-trigger:checked ~ .animated-hamburger > div::after {
    transform: rotate(90deg);
    width: 70%;
}

/*nav {
    position: sticky;
    top: 0;
}*/

/* ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    z-index: 100;
}

li {
    float: left;
    padding: .5em;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
} */

.text-box {
    text-shadow: 2px 4px 5px rgba(0, 0,0,0.9);
    font-variant: small-caps;
    color: #ffffff;
    letter-spacing: 5pt;
    margin: 6%;
    margin-bottom: 0;
    height: 84vh;
    font-family: 'Great Vibes';
    
}

p {
    margin: inherit;
    padding: 1em;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 600;
}

#projects {
    background-image: none;
    text-align: start;
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
    font-size: 47px;
    padding: inherit;
    color: black;
    font-weight: 900;
}

#text-modify2 {
    margin-top: 8%;
    margin-left: -4%;
    font-size: 1.55em;
}

@media screen and (max-width: 600px) {
    span {
        font-size:30px;
    }
}

.hero {
    width: 100vw;
    height: 40vh;
    text-align: center;
    color: #CCC;
    position: relative;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 17.5px;
}

.hero-one {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 61.35vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/markup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 62vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(../img/keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: auto;
    font-size: 6vw;
}

.header-primary {
    font-size: 2em;
    display: block;
    font-weight: 700;
}

#title-card {
    text-align:center;
    margin-top: 18vh;

}

header {
    width: 55%;
    height: fit-content;
    background-size: cover;
    font-size: 56px;
    text-align: center;
    color: whitesmoke;
    font-family: 'Londrina Sketch', 'arial', cursive;
}



hr {
    width: 80%;
    margin: 5%;
}

.plain-jane {
    padding: 10%;
}

#font-viewport {
    font-size: 22px;
}

#input-joke-container {
    width: 20vw;
    padding: .5em;
}

.grid-field-container {
    max-width: 800px;
    margin: 10% auto;
    color: black;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
}

#about-me-1 {
    grid-column: span 5;
    background-image: url(../img/06.jpg);
    
}

#about-me-2 {
    grid-column: span 3;
    background-image: url(../img/01.jpg);    
}

#about-me-3 {
    grid-column: span 2;
    background-image: url(../img/14.jpg);    
}
#about-me-4 {
    grid-row: span 3;
    background-image: url(../img/08.jpg);
}
#about-me-5 {
    grid-row: span 5;
    grid-column: span 5;
    background-image: url(../img/07.jpg);
}
#about-me-6 {
    grid-row: span 5;
    grid-column: span 3;
    background-image: url(../img/06.jpg); /*add skills icons here to yellow 06.jpg*/
}
#about-me-7 {
    grid-row: span 2;
    background-image: url(../img/09.jpg);
}
#about-me-9 {
    grid-row: span 2;
    background-image: url(../img/19.jpg);
}
#about-me-8 {
    grid-row: span 3;
    background-image: url(../img/paintedWall.jpg);
}
#about-me-10 {
    grid-row: span 4;
    background-image: url(../img/05.jpg);
}
#about-me-11 {
    grid-row: span 4;
    grid-column: span 4;
    background-image: url(../img/pollack.jpg); /* Maybe just do a icon for each skill and apply to a colorl*/
    background-size: cover;
}
#about-me-12 {
    grid-column: span 5;
    background-image: url(../img/19.jpg);
}
#about-me-13 {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(../img/nameLogo.png);
    background-size: cover;
}
#about-me-14 {
    grid-row: span 3;
    grid-column: span 2;
    background-image: url(../img/paintedWall.jpg);
    background-size: cover;
}

button {
    border: 3px solid black;
    border-radius: 5%;
    box-shadow: 2px 3px 8px inset #888888;
    font-family: 'Chelsea Market';
    transition-duration: .5s;
    transition-delay: .3s ;
    
}

button:hover {
    transform: translateY(5px);
}

section {
    border: 4px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

section:nth-child(1) {
    grid-column: span 2;
    background-image: url(../img/01.jpg);
    
}

section:nth-child(2) {
    grid-column: span 4;
    background-image: url(../img/02.jpg);
    
}
section:nth-child(3) {
    grid-column:  span 3;
    background-image: url(../img/03.jpg);

}
section:nth-child(4) {
    grid-row: span 7;
    background-image: url(../img/04.jpg);
}
section:nth-child(5) {
    grid-row: span 2;
    background-image: url(../img/05.jpg);
}
section:nth-child(6) {
    grid-row: span 4;
    grid-column:  span 4;
    background-image: url(../img/06v2.jpg);
    background-size: cover;
    
}

section:nth-child(6):hover {
    transition: transform 1s;
    transform: translateY(-10);
}

section:nth-child(7) {
    grid-column: span 3;
    grid-row: span 3;
    background-image: url(../img/07v2.jpg);
    background-size: cover;
}

section:nth-child(8) {
    grid-row: span 3;
    background-image: url(../img/08.jpg);
}
section:nth-child(9) {
    grid-row: span 4;
    background-image: url(../img/09.jpg);
}
section:nth-child(10) {
    grid-column: span 2;
    background-image: url(../img/10.jpg);
}
section:nth-child(11) {
    grid-column: span 2;
    background-image: url(../img/09.jpg);
}
section:nth-child(12) {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(../img/12v2.jpg);
}
section:nth-child(13) {
    grid-row: span 2;
    background-image: url(../img/10.jpg);
}
section:nth-child(14) {
    grid-row: span 2;
    grid-column: span 4;
    background-image: url(../img/14.jpg);
    background-size: cover;
}
section:nth-child(15) {
    grid-row: span 3;
    background-image: url(../img/15.jpg);
}

section:nth-child(16) {
    grid-row: span 2;
    grid-column: span 2;
    background-image: url(../img/12.jpg);
}
section:nth-child(17) {
    grid-column: span 5;
    background-image: url(../img/18.jpg);
    background-size: cover;
}
section:nth-child(18) {
    grid-row: span 3;
    grid-column: span 3;
    background-image: url(../img/19v2.jpg);    
}

section:nth-child(19) {
    grid-column: span 3;
    background-image: url(../img/16.jpg); /* (see (16,17,18) this was originally child 16 that is why the image number does not match*/
}
section:nth-child(20) {
    grid-row: span 3;
    background-image: url(../img/20.jpg);
}

/* section:nth-child(21) {
    grid-column: span 5;
    grid-row: span 5;
    background-image: url(../img/creepyPython.jpg);
    background-size: cover;
}

section:nth-child(21):hover {
    box-shadow: 0 7px 7px 0 gray;
    gap: 3em;
} */

.card {
    width: 35%;
    display: flex;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}

footer {
    background-image: url(../img/paintedWall.jpg);
    margin-top: 4em;
    background-size: cover;
    font-family: 'Cabin Sketch', cursive;
}

