body {
    font-family: Avenir,Garamond;
    margin: 0;
    padding: 0;
    width: auto;
    text-align: left;
  
}

#home {
    background: url(../img/LoneActor.jpg);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    color: #ffffff;


}

#raise {
    
    position: absolute;
    top: 13%;
    left: 45%;
    display:inline-block;
    width: 30vw;

   

}

.reveal {
    
    animation: appear 2s forwards;
    animation-delay: 2s;
    opacity: 0;
}

.reveal:hover {
    animation: appear 1s;
    opacity:0;
}



@keyframes appear{
    0% {opacity: 0;}
    100% {opacity: 1;}
}



#curtain {
    width: 100%;
    top: 0;
    height: 100vh;

}

ul {
    list-style-type: none;
    margin: 0;
    top: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    z-index: 100;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.text-box {
    text-shadow: 2px 4px 5px rgba(0, 0,0,0.9);
    font-variant: small-caps;
    color: #ffffff;
    letter-spacing: 5pt;
    margin: 6%;
    margin-bottom: 0;
    height: 84vh;
    
}

p {
    font-size: 1em;
    margin: 5%;
}

#projects {
    margin: 10%;
    background-image: url(../img/19.jpg);
}

#text-modify2 {
    margin-top: 8%;
    margin-left: -4%;
    font-size: 1.55em;
}

@media screen and (max-width: 600px) {
    span {
        font-size:30px;
    }
}

.hero {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: #CCC;
    position: relative;
    text-transform: uppercase;
    font-family: 'Amatic SC', sans-serif;
    letter-spacing: 17.5px;
}

.hero-one {
    top: 0;
    position: absolute;
    width: 60%;
    background-color: black;
    height: 100vh;
    clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
    z-index: 1;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../img/markup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-two {
    position: absolute;
    top: 0;
    right: 0;
    width: 60%;
    background-color: green;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)), url(../img/keyboard.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.header-title {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex: auto;
    font-size: 6vw;
}

.header-primary {
    font-size: 2em;
    display: block;
    font-weight: 700;
}

#title-card {
    text-align:center;
    margin-top: 18vh;

}

header {
    width: 55%;
    height: fit-content;
    background-image: url(../img/06.jpg);
    background-size: cover;
    border: 2px solid black;
    box-shadow: 5px 10px black;
    margin: 3% auto;
    font-size: 34px;
    text-align: center;
    color: whitesmoke;
    padding: .35em;
}

#projects {
    background-color: blue;
}

hr {
    width: 80%;
    margin: 5%;
}

.plain-jane {
    padding: 10%;
}

#font-viewport {
    font-size: 22px;
}

#input-joke-container {
    width: 20vw;
    padding: .5em;
}


main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
    margin: 10%;
}


section {
    border: 4px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

section:nth-child(1) {
    grid-area: 1 / 1 / span 1 / span 2;
    background-image: url(../img/01.jpg);
}

section:nth-child(2) {
    grid-area: 1 / 3 / span 1 / span 4;
    background-image: url(../img/02.jpg);
}
section:nth-child(3) {
    grid-area: 1 / 7 / span 1/ span 3;
    background-image: url(../img/03.jpg);

}
section:nth-child(4) {
    grid-area: 1 / 10 / span 7 / span 1;
    background-image: url(../img/04.jpg);
}
section:nth-child(5) {
    grid-area: 2 / 1 / span 2;
    background-image: url(../img/05.jpg);
}
section:nth-child(6) {
    grid-area: 2 / 2 / span 4 / span 4;
    background-image: url(../img/06v2.jpg);
    background-size: cover;
}
section:nth-child(7) {
    grid-area: 2 / 6 / span 3 / span 3;
    background-image: url(../img/07v2.jpg);
    background-size: cover;

}
section:nth-child(8) {
    grid-area: 2 / 9 / span 3 / span 1;
    background-image: url(../img/08.jpg);
}
section:nth-child(9) {
    grid-area: 4 / 1 / span 4 / span 1;
    background-image: url(../img/09.jpg);
}
section:nth-child(10) {
    grid-area: 5 / 6 / span 1 / span 2;
    background-image: url(../img/10.jpg);
}
section:nth-child(11) {
    grid-area: 5 / 8 / span 1 / span 2;
    background-image: url(../img/09.jpg);
}
section:nth-child(12) {
    grid-area: 6 / 2 / span 3 / span 3;
    background-image: url(../img/12v2.jpg);
}
section:nth-child(13) {
    grid-area: 6 / 5 / span 2 / span 1;
    background-image: url(../img/10.jpg);
}
section:nth-child(14) {
    grid-area: 6 / 6 / span 2 / span 4;
    background-image: url(../img/14.jpg);
    background-size: cover;
}
section:nth-child(15) {
    grid-area: 8 / 1 / span 3 / span 1;
    background-image: url(../img/15.jpg);
}
section:nth-child(16) {
    grid-area: 9 / 2 / 1 span / span 3;
    background-image: url(../img/16.jpg);
}
section:nth-child(17) {
    grid-area: 8 / 5 / span 2 / span 2;
    background-image: url(../img/12.jpg);
}
section:nth-child(18) {
    grid-area: 10 / 2 / span 1 / span 5;
    background-image: url(../img/18.jpg);
    background-size: cover;
}
section:nth-child(19) {
    grid-area: 8 / 7 / span 3 / span 3;
    background-image: url(../img/19v2.jpg);
}

section:nth-child(20) {
    grid-area: 8 / 10 / span 3 / span 1;
    background-image: url(../img/20.jpg);
}

section:nth-child(21) {
    grid-column: span 5;
    grid-row: span 5;
    background-image: url(../img/creepyPython.jpg);
    background-size: cover;
}

section:nth-child(21):hover {
    box-shadow: 0 7px 7px 0 gray;
    gap: 3em;
}

.card {
    width: 35%;
    display: flex;
    background: white;
    text-decoration: none;
    color: #444;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex-direction: column;
    min-height: 100%;
    position: relative;
    top: 0;
    transition: all .1s ease-in;
}