html {
    font-size: 70%;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-image: url(../img/darkDeskBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator-container {
    background-color: #494e4b;
    border: 1.2px solid darkslategray;
    border-radius: 7px;
    position: absolute;
    top: 50%; /* if you made top and left 25% you'd not need the transform*/
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 90px;
    border: none;
    background-color: black;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0px 0px;
}

.calc-screen {
    margin: 1em;
    width: 90%;
    padding: .5em;
    text-align: right;
    color: whitesmoke;
    font-size: 2rem;
}

button {
    height: 70px;
    border-radius: 3px;
    background-color: rgb(182, 181, 181);
    font-size: 3rem;
    color: black;
    background-image: linear-gradient
        (to bottom, transparent, transparent, 50%, rgba(0, 0, 0, 0.6)); /*to bottom to determine direction in the ()?*/
    text-shadow: 0 1px rgba(104, 103, 103, 1);
    box-shadow: inset 0 0 0 1px rgb(77, 76, 76), 
        inset 0 1px 0 0 rgb(77, 76, 76), 
        inset 0 -1px 0 0 rgb(77, 76, 76), 
        inset 0 1px 0 0 rgb(77, 76, 76) ;
}

button:hover {
    background-color: #7c7979;
}

.operator {
    color: black;
    background-image: linear-gradient
        (to bottom, transparent, transparent, 50%, rgba(0,0,0,1));
    background-color: lightgray;
}

.all-clear-function {
    background-color: rgb(145, 7, 7);
    border-color: darkslategray;
    color: #ffffff;
}

.all-clear-function:hover {
    background-color: rgb(104, 2, 2);
}

.equal-sign-operator {
    background-color: rgb(21, 21, 131);
    border-color: darkslategray;
    color: #ffffff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign-operator:hover {
    background-color: rgb(10, 10, 78);
}

.calculator-buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 1em;
    row-gap: 1em;
    padding: 1em;
}